@page "/"
@using Newtonsoft.Json;
@inject HttpClient client

<PageTitle>Weather App</PageTitle>

<h1>Weather Data</h1>

<WeatherDataSelector @ref="weatherDataSelector" OnSelectionChanged="HandleSelectionChanged" />

<br />

<WeatherDataDisplay @ref="weatherDataDisplay" />

@code {
    WeatherDataSelector? weatherDataSelector;
    WeatherDataDisplay? weatherDataDisplay;

    private async Task HandleSelectionChanged(string stationId)
    {
        if (weatherDataDisplay != null)
        {
            await weatherDataDisplay.GetWeatherData(stationId);
        }
    }
}