@page "/"

<PageTitle>Weather App</PageTitle>

<h1>Weather Data</h1>

<WeatherDataSelector @ref="weatherDataSelector" OnSelectionChanged="HandleSelectionChanged" />

<br />
<br />

<WeatherDataDisplay @ref="weatherDataDisplay" />

@code {
    WeatherDataSelector? weatherDataSelector;
    WeatherDataDisplay? weatherDataDisplay;

    private async Task HandleSelectionChanged(WeatherOption selectedOption)
    {
        if (weatherDataDisplay != null)
        {
            try
            {                
                await weatherDataDisplay.GetWeatherData(selectedOption.StationId, selectedOption.DisplayName);
            }
            catch (Exception ex)
            {             
                Console.WriteLine($"Error retrieving weather data: {ex.Message}");
            }
        }
    }
}