@inject ILocalStorageService localStorage

<WeatherData @ref="weatherData" />

<p>@temperature</p>

@code {
    WeatherData? weatherData;
    string temperature = "Loading..";

    private string? selectedOption;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selectedOption = await localStorage.GetItemAsync<string>("selectedOption");

            if (String.IsNullOrEmpty(selectedOption))
            {
                selectedOption = "RIAI99PA";
            }
            await GetWeatherData(selectedOption); // Fetch initial weather data
        }
    }

    public async Task GetWeatherData(string stationId)
    {
        if (weatherData != null)
        {
            temperature = await weatherData.GetWeatherData(stationId);
            StateHasChanged();
        }
    }
}
